.agregarClientes-main{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(51, 47, 47, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100; 
    cursor: pointer; 
    font-family: apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.agregarClientes-main form{
    position: relative;
    background-color: rgb(192, 190, 190);
    width: 30%;
    height: 40%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    z-index: 101;
    align-items: center;
}
.agregarClientes-main form h3{
    font-size: 25px;
    color: rgb(65, 61, 61);
    margin-bottom: 30px;
}
.agregarClientes-main form input{
    width:  70%;
    height: 30px;
    margin-bottom: 20px;
    padding-left: 7px;
    
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
}

.agregarClientes-main form input:focus{
    outline: none;
}
.close{
    padding: 0;
    margin: 0;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    color: rgb(65, 61, 61);
    cursor: pointer;
}
.close img{
    width: 100%;
    height: 100%;
    border-radius: 0;
    
}
.agregarClientes-button{
    width: 100px;
    height: 30px;
    background-color: rgb(11, 247, 3);
    color: white;
    border: none;
}
.agregarClientes-button:hover{
    background-color: rgb(11, 247, 3);
    cursor: pointer;
    opacity: 0.7;
}